* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main .card {
  width: 50%;
} 

/*Footer*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#perfil .card .card-image a {
  margin-bottom: 25px;
}

#post form {
    background: rgb(241, 237, 237);
    padding-bottom:  15px;
    padding-top: 15px;
}