<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>Login</title>
  <link rel='stylesheet' href='../vendors/materialize/css/materialize.min.css'>
  <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
  <link rel='stylesheet' href='../css/main.css'>
</head>

<body>
  <section id='login'>
    <header>
      <nav>
        <div class='nav-wrapper'>
          <a href='#' class='brand-logo center'>Logo</a>
        </div>
      </nav>
    </header>
    <main>
      <div class='card hoverable center-align'>
        <div class='card-tabs'>
          <ul class='tabs tabs-fixed-width'>
            <li class='tab'>
              <a class='active' href='#test4'>LOGIN</a>
            </li>
            <li class='tab'>
              <a href='#test5'>REGISTER</a>
            </li>
          </ul>
        </div>
        <div class='card-content grey lighten-4'>
          <div id='test4'>
            <div class='row'>
              <form class='col s12'>
                <div class='row'>
                  <div class='input-field col s12'>
                    <input id='email1' type='email' class='validate email-ingreso'>
                    <label for='email'>Email</label>
                  </div>
                </div>
                <div class='row'>
                  <div class='input-field col s12'>
                    <input id='password1' type='password' class='validate pass-ingreso'>
                    <label for='password'>Password</label>
                  </div>
                  <div class='message-error'>

                  </div>
                </div>
                <div>
                  <a class='waves-effect waves-light btn btn-ingreso'>INGRESAR</a>
                </div>
              </form>
            </div>
          </div>
          <div id='test5'>
            <div class='row'>
              <form class='col s12'>
                <div class='row'>
                  <div class='input-field col s6'>
                    <input id='first_name' type='text' class='validate name-input'>
                    <label for='first_name'>First Name</label>
                  </div>
                  <div class='input-field col s6'>
                    <input id='last_name' type='text' class='validate lastname-input'>
                    <label for='last_name'>Last Name</label>
                  </div>
                </div>
                <div class='row'>
                  <div class='input-field col s12'>
                    <input id='email' type='email' class='validate email-res'>
                    <label for='email'>Email</label>
                  </div>
                </div>
                <div class='row'>
                  <div class='input-field col s12'>
                    <input id='password' type='password' class='validate pass-res'>
                    <label for='password'>Password</label>
                  </div>
                </div>
                <div class='row'>
                  <div class='input-field col s12'>
                    <span>¿Eres inversor o startup? </span>
                    <br>
                    <a class='waves-effect waves-light btn inversor-btn'>Inversor</a>
                    <a class='waves-effect waves-light btn empre-btn'>Startup</a>
                  </div>
                </div>
                </div>
                <div>
                  <form action='#'>
                    <p class='center-align form-p'>
                      <input type='checkbox' id='test6'/>
                      <label for='test6'>I agree to
                        <a href='#'>Terms of Service</a>
                      </label>
                    </p>
                  </form>
                </div>
                <div>
                  <a class='waves-effect waves-light btn btn-registro'>REGISTRAR</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!--Footer-->
    <footer class='page-footer'>
      <div class='container'>
        <div class='row'>
          <div class='col l6 s12'>
            <h5 class='white-text'>Footer Content</h5>
            <p class='grey-text text-lighten-4'>La plataforma premium de inversión en compañías con alto potencial de crecimiento, y la comunidad de startups
              más activa de Europa.</p>
          </div>
          <div class='col l4 offset-l2 s12'>
            <ul>
              <li>
                <a target='_blank' class='grey-text text-lighten-3' href='https://www.facebook.com/'>Facebook</a>
              </li>
              <li>
                <a target='_blank' class='grey-text text-lighten-3' href='https://twitter.com/?lang=es'>Twitter</a>
              </li>
              <li>
                <a target='_blank' class='grey-text text-lighten-3' href='https://www.instagram.com/?hl=es'>instagram</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class='footer-copyright'>
        <div class='container'>
          © 2018 Copyright Text
          <a class='grey-text text-lighten-4 right' href='#!'>More Links</a>
        </div>
      </div>
    </footer>
  </section>

  <script src='../vendors/jquery/jquery-3.2.1.min.js'></script>
  <script src='https://www.gstatic.com/firebasejs/4.2.0/firebase.js'></script>
  <script src='../vendors/materialize/js/materialize.min.js'></script>
  <script src='../js/home.js'></script>
  <script src='../js/login.js'></script>
  <script src='../js/perfil.js'></script>
</body>

</html>