<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>Login</title>
  <link rel='stylesheet' href='../vendors/materialize/css/materialize.min.css'>
  <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
  <link rel='stylesheet' href='../css/main.css'>
</head>

<body>
  <section id='login'>
    <header>
      <nav>
        <div class='nav-wrapper'>
          <img class="logo center-block" src="../assets/images/logo.png" alt="logo">
        </div>
      </nav>
    </header>
    <div>
      <p>Conectate con</p>
      <a id="btn-google" class="waves-effect waves-light btn">Google</a>
      <a id="btn-fb" class="waves-effect waves-light btn">Facebook</a>

    </div>
    <!--Footer-->
    <footer class='page-footer'>
      <div class='container'>
        <div class='row'>
          <div class='col l6 s12'>
            <p class='grey-text text-lighten-4'>La red social de inversión en compañías con alto potencial de crecimiento, y la comunidad de startups más activa
              de America Latina.</p>
          </div>
          <div class='col l4 offset-l2 s12 iconss'>
            <p class="center-align">Encuentranos en:</p>
            <ul class="iconitos center-align">
              <li>
                <a target='_blank' class='grey-text text-lighten-3' href='#'>
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a target='_blank' class='grey-text text-lighten-3' href='#'>
                  <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a target='_blank' class='grey-text text-lighten-3' href='#'>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class='footer-copyright'>
        <div class='container center-align'>
          © 2018 Copyright Startup Social Network
        </div>
      </div>
    </footer>
  </section>

  <script src='../vendors/jquery/jquery-3.2.1.min.js'></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
  <script src='../vendors/materialize/js/materialize.min.js'></script>
  <script src='../js/home.js'></script>
  <script src='../js/login.js'></script>
  <script src='../js/perfil.js'></script>
</body>

</html>