<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>Perfil</title>
  <link rel='stylesheet' href='../vendors/materialize/css/materialize.min.css'>
  <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='../css/main.css'>
</head>

<body>
    <nav>
      <div class='row'>
        <div class='col s12 big'>
          <div class='nav-wrapper'>
            <img id="logo-big" class="logo col s6" src="../assets/images/logo.png" alt="logo">
            <ul id='nav-mobile' class="list-nav" class='right'>
              <li class='btn-home'>
                <a href='#'>
                  <i class='material-icons'>home</i>
                </a>
              </li>
              <li>
                <a href='#' class="btn-perfil-home">
                  <i class='material-icons'>person</i>
                </a>
              </li>
              <li class="btn-salir">
                <a href='#'>
                  <i class='material-icons'>exit_to_app</i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <section id='perfil'>
    <div class='row'>
      <div class='col s6 offset-s3 m6 l2 offset-l5'>
        <div class='card'>
          <div class='card-image'>
            <img id="img-user" src=''>
            <a id='file-select' class='btn-floating halfway-fab waves-effect waves-light red btn-add-image'>
              <i class='material-icons'>add_a_photo</i>
            </a>
          </div>
          <div class='card-content root'>
            <p class='center-align red-text'>Emprendedor</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
          <li class="tab">
            <a href="#test4">Public
              <br> Post</a>
          </li>
          <li class="tab">
            <a class="active" href="#test5">Seguidores
              <br> 1M</a>
          </li>
          <li class="tab">
            <a href="#test6">Seguidos
              <br> 10k</a>
          </li>
        </ul>
      </div>
      <div class="row">
      <div class="card-content grey lighten-4 col l12 s12">
        <div id="test4"></div>
        <div id="test5">
            <div class="col s12 m8 offset-m2 l8 offset-l2">
                <div class="card-panel grey lighten-5 z-depth-1">
                  <div class="row valign-wrapper">
                    <div class="col s3 l2">
                      <img src="../assets/images/user.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                    </div>
                    <div class="col s5 l10">
                      <span class="black-text">
                        Lorena Diaz
                      </span>
                    </div>
                    <div class="col s5">
                        <a href="#!" class="btn waves-effect" id="seguir">Seguir</a>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        <div id="test6">
            <div class="col s12 m8 offset-m2 l8 offset-l2">
                <div class="card-panel grey lighten-5 z-depth-1">
                  <div class="row valign-wrapper">
                    <div class="col s3 l2">
                      <img src="../assets/images/user.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                    </div>
                    <div class="col s3 l10">
                      <span class="black-text">
                        Yolanda Hidalgo
                      </span>
                    </div>
                    <div class="col s6">
                        <a href="#!" class="btn waves-effect" id="seguir">Siguiendo</a>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        </div>
     </div>
    </section>
    <section id="login">
    <div>
        <h4 class="center-align white-text">Conéctate con</h4>
        <div class="row">
        <a id="btn-google" class="waves-effect waves-light btn col l4 s6 offset-s3 offset-l4">Google</a>
        <a id="btn-fb" class="waves-effect waves-light btn col l4 offset-l4 s6 offset-s3">Facebook</a>
      </div>
      </div>
    </section>
    <section id="home">
        <div class='carousel carousel-slider'>
            <a class='carousel-item one' href='#one!'>
              <img src='../assets/images/startup1.jpg'>
            </a>
            <a class='carousel-item two' href='#two!'>
              <img src='../assets/images/startup2.jpg'>
            </a>
            <a class='carousel-item three' href='#three!'>
              <img src='../assets/images/startup3.jpg'>
            </a>
            <a class='carousel-item four' href='#four!'>
              <img src='../assets/images/startup4.jpg'>
            </a>
          </div>
          <!--secciones en la que publicaremos o lo que estamos pensando-->
          <section id='post'>
            <div class='row'>
              <form class='col s10 offset-s1'>
                <div class='row'>
                  <div class='input-field col s12'>
                    <textarea id='textarea1' class='materialize-textarea flow-text' data-length='120'></textarea>
                    <label for='textarea1 flow-text'>¿Que estas pensando?</label>
                    <a class='waves-effect waves-light btn postext'>Post</a>
                    <a href='#!' id='file-select' class='waves-effect waves-light btn'>File</a>
                  </div>
                </div>
              </form>
            </div>
          </section>
          <!--Subiendo archivos-->
          <section id='file-img'>
            <div class='row'>
              <div class='col s12'>
                <!--<form id='file-submit' enctype='multipart/form-data'>
                  <input id='file' name='file' type='file'/>
                </form>-->
                <input id='file' name='file' type='file' />
              </div>
            </div>
          </section>
          <!--sección de otras publicaciones de usuarios-->
          <section>
            <div class='row'>
              <div class='col s12  card-action'>
                <h4 class="center-align news">Newsfeed </h4>
                <div class="content-text card ">
                </div>
              </div>
            </div>
          </section>

    </section>
      <!--Footer-->
      <footer class='page-footer'>
        <div class='footer-copyright'>
          <div class='container center-align'>
            © 2018 Copyright Startup Social Network
          </div>
        </div>
      </footer>
 
  <script src='../vendors/jquery/jquery-3.2.1.min.js'></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
  <script src='../vendors/materialize/js/materialize.min.js'></script>
  <script src='../js/login.js'></script>
</body>

</html>